<form name="employeeView" ng-submit="vm.addEmployee()">
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="control-group">
                <label>First Name</label>
                <input type="text" ng-model="vm.selectedEmployee.FirstName" name="firstName" required/>
                <span ng-show="employeeView.firstName.$invalid" class="text-danger">First Name required</span>
            </div>
            <div class="control-group">
                <label>Last Name</label>
                <input type="text" ng-model="vm.selectedEmployee.LastName" name="lastName" required/>
                <span ng-show="employeeView.lastName.$invalid" class="text-danger">Last Name required</span>
            </div>
            <div class="control-group">
                <label>Profession</label>
                <select data-ng-model="vm.selectedEmployee.Profession.Id"
                        data-ng-options="profession.Id as profession.Name for profession in vm.professions"
                        name="profession"
                        required></select>
                <button type="button" ng-click="vm.toggleShowProfessionCreate()">+</button>
                <span ng-show="employeeView.profession.$invalid" class="text-danger">Profession required</span>
                <div ng-show="vm.showProfessionCreate">
                    <input type="text" name="newProfession" ng-model="vm.newProfession.name">
                    <input type="button" value="Add" ng-click="vm.addProfession()">
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="submit" value="Submit">
        <input type="button" class="btn btn-warning" ng-click="vm.close()" value="Cancel">
    </div>
</form>